
<!--Implement username and email to show-->


<div class="p-3 mb-2 bg-success text-white center"><b>Username :</b> {{username}} &nbsp;&nbsp;<b>  Email:</b> {{email}}</div>

<div class="formcontainer">
  <div class="formbody">
<form style="width:100%;"[formGroup] ="addNewsForm" (ngSubmit)="addNews();">

  <div class="header">Add News</div>

    <div class="form-group">
    <mat-form-field style="width: 100%;">
      <input type="text" appHighlight formControlName="title" matInput placeholder="Title" id="title" name="title" [ngClass]="{ 'is-invalid': submitted && fval.title.errors }">
      </mat-form-field> 
      <div *ngIf="submitted && fval.title.errors">
        <div *ngIf="fval.title.errors.required">
            Title Name is required 
        </div>
    </div>  
    </div>
  
    <div class="form-group">
      <mat-form-field style="width: 100%;">
      <textarea
        appHighlight
        id="description"
        formControlName="description"
        matInput placeholder="Description"
        
        rows="5"
        name="description"
        [ngClass]="{ 'is-invalid': submitted && fval.description.errors }" >
    </textarea>
  </mat-form-field>
    <div *ngIf="submitted && fval.description.errors">
      <div *ngIf="fval.description.errors.required">
          Description is required 
      </div>
  </div> 
    </div>

    <div class="form-group">
      <mat-form-field style="width: 100%;">
        <input appHighlight type="text" matInput placeholder="Url" formControlName="url" id="url" name="url" [ngClass]="{ 'is-invalid': submitted && fval.url.errors }">
        </mat-form-field>
        <div *ngIf="submitted && fval.url.errors">
          <div *ngIf="fval.url.errors.required">
              URL Name is required 
          </div>
      </div>    
      </div>

      <div class="form-group">
        <mat-form-field style="width: 100%;">
        <input appHighlight type="text" id="urlToImage" matInput placeholder="Url Image" formControlName="urlToImage" name="urlToImage" [ngClass]="{ 'is-invalid': submitted && fval.urlToImage.errors }">
      </mat-form-field>
        <div *ngIf="submitted && fval.urlToImage.errors">
          <div *ngIf="fval.urlToImage.errors.required">
              URL Image is required 
          </div>
      </div> 
      
      </div>

      <div class="form-group">
        <mat-form-field style="width:100%;">
        <input appHighlight type="date" id="publishedAt" matInput placeholder="Published At" formControlName="publishedAt" name="publishedAt" [ngClass]="{ 'is-invalid': submitted && fval.publishedAt.errors }">
      </mat-form-field>
        <div *ngIf="submitted && fval.publishedAt.errors">
          <div *ngIf="fval.publishedAt.errors.required">
              Published At is required 
          </div>
      </div> 
     
      </div>
  
    <button class="btn btn-primary" >Add</button> &nbsp;
    <button type=reset class="btn btn-warning">Reset</button>
  </form>
  </div>
  </div>